header{
    width:100%;
    background-color:red;
}
button {
  background-color: #78837f; 
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

iframe{
    width:24%;
    height:200px;

}

